/*body {
    font-family: Arial, sans-serif; /* Define a fonte */
    margin: 0;
    padding: 0;
    text-align: center; /* Alinha o conteúdo ao centro */
    background-color: #d32626; /* Cor de fundo */

}*/